.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
    overflow-x: hidden;
}

.content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 80px;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
}

.man-image {
    width: 100%;
    height: auto;
    max-height: 70vh;
    object-fit: contain;
}

.muscle-link {
    position: absolute;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.muscle-text {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    color: #4A4A4A;
    margin-bottom: 2px;
}

.muscle-line {
    width: 60px;
    height: 1px;
    background-color: #A0A0A0;
}

.head-link {
    top: 10%;
    right: 10%;
}