.tests-complex-card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    margin-bottom: 16px;
}

.tests-complex-title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 16px;
    text-align: left;
}

.tests-actions-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.test-action-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

.test-action-btn span {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #333333;
}

/* Стили для карточек "Аналогично" */
.test-simple-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    margin-bottom: 16px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.test-simple-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 8px;
}

.test-simple-top {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}

.test-simple-bottom {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}