.footer-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-top: 1px solid #00000026;

    z-index: 1000;
}

.icons {
    width: 21px;
    height: 21px;
    object-fit: contain;
    transition: none;
}

.text {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #5E5E5E;
    margin-top: 4px;
}
.nav-item {
    display: flex;
    margin-top: 4px;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #f6f9f4;
    font-size: 12px;
    -webkit-tap-highlight-color: transparent;
}

.nav-item.active .text {
    color: #B8C7FE;
}

.nav-item.active .icons {
    color: #B8C7FE;
    filter: invert(82%) sepia(21%) saturate(913%) hue-rotate(190deg) brightness(101%) contrast(104%);
}