.app-header {
    width: 100%;
    background-color: #EBEBEB; /* Светло-серый фон, как на макете */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); /* Тень из image_2.png */
    position: sticky; /* Чтобы хедер оставался наверху при прокрутке */
    top: 0;
    z-index: 100;
}

.header-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 16px; /* Добавил отступы внутри хедера */
    min-height: 56px; /* Минимальная высота для хедера */
}

.back-button {
    background: none;
    border: none;
    padding: 0;
    margin-right: 0px; /* Отступ между кнопкой и заголовком */
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 2;
}

.bck {
    width: 24px; /* Размер иконки */
    height: 24px;
}

.header-title {
    position: absolute; /* Отрываем от обычного потока */
    left: 50%;
    transform: translateX(-50%); /* Строго по центру хэдера */
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #5E5E5E;
    white-space: nowrap;
    z-index: 1;
}